<?xml version="1.0"?>
<launch>
    <arg name="model_path" default="/home/russell/git/flowbot3d/checkpoints/no-wandb/camera_frame/mask/epoch=99-step=78600.ckpt"/>
    <node pkg="flowbot3d_ros" name="flowbot3d_ros" type="flowbot3d_ros.py" args="--model_path $(arg model_path)" output="screen">
    <remap from="/input/depth_image" to="/camera/depth/image_raw"/>
    <remap from="/input/mask" to="/rqt_image_segmentation/mask"/>
    </node>
</launch>
